<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JsonViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <JsonViewer.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FindIgnoreCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchParentValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightSelectedParents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindText" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowToolbarTextVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowToolbarIconVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowWarnOnDefaultConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchValueTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightSimilarKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightSimilarValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultConfigJson" serializeAs="String">
                <value>
                  {
                  "treeViewForeground": "DarkGray",
                  "treeViewSelectedBackground": "LightYellow",
                  "treeViewSelectedForeground": "Black",
                  "treeViewInactiveSelectionHighlightBrushKey": "LightYellow",
                  "treeViewInactiveSelectionHighlightTextBrushKey": "Black",
                  "treeViewFontSize": 12,
                  "treeViewSearchResultForeground": "blue",
                  "treeViewSearchResultBackground": "LightGreen",
                  "treeViewHighlights": [
                  {
                  "valueContains": [ "failure", "failed", "error" ],
                  "color": "red",
                  "fontSize": 16,
                  "appliesToParents":  true
                  },
                  {
                  "valueContains": [ "success", "succeeded", "passed" ],
                  "color": "green",
                  "fontSize": 16,
                  "appliesToParents": true
                  },
                  {
                  "valueContains": [ "pending", "warning" ],
                  "color": "DarkOrange",
                  "appliesToParents": true
                  }
                  ]
                  }</value>
            </setting>
        </JsonViewer.Properties.Settings>
    </userSettings>
</configuration>
