<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsonViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <JsonViewer.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FindIgnoreCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindSearchParentValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>S:\Repos\DevTools\JsonViewer\Config.json</value>
            </setting>
            <setting name="ConfigJson" serializeAs="String">
                <value>{ "treeViewForeground": "darkgray", "treeViewHighlightBrushKey": "Yellow", "treeViewHighlightTextBrushKey": "Black", "treeViewInactiveSelectionHighlightBrushKey": "LightYellow", "treeViewInactiveSelectionHighlightTextBrushKey": "Black", "treeViewFontSize": 12, "treeViewSearchResultForeground": "blue", "treeViewSearchResultBackground": "lightgreen", "treeViewHighlights": [ ] } </value>
            </setting>
            <setting name="HighlightSelectedParents" serializeAs="String">
                <value>False</value>
            </setting>
        </JsonViewer.Properties.Settings>
    </userSettings>
</configuration>
